Figures/
Output/
Data/
Code/clock_sync/
Code/Ariel/
Code/Ariel/arielt/ucla/neuralynx/matlab/clock_sync/
Code/Main/Logs_GAT/
Paradigm_Yair/Stimuli
Paradigm_Yair/Logs
bash_*.sh
log_*channel
*.log
*.ncs
*.mat
*.h5
*.png
*.fig
*.zip
*.pdf
*.nev
*.nse
*.nde
*.wav
!*events_log_in_cheetah_clock_part*.log
