Figures/
Output/
Code/Main_analyses/RunScripts/
Code/Main_analyses/Logs/
Code/clock_sync/
Code/Ariel/
Code/Ariel/arielt/ucla/neuralynx/matlab/clock_sync/
Bash/RunScripts/
Bash/Logs/
Bash/Logs_GAT/
Paradigm_Yair/Stimuli
Paradigm_Yair/Logs
*.log
*.ncs
*.mat
*.h5
*.png
*.fig
*.zip
*.pdf
*.nev
*.nse
*.nde
*.wav
!*events_log_in_cheetah_clock_part*.log
